.App {
    text-align: center;
}

/*
Header
 */
.moreIcon > span > svg {
    color: white;
    left: 0;
    top: 0;
    height: 100%;
}

.topHeader {
    display: table-cell;
    vertical-align: middle;
    width: 10%;
}

.drawerItem h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #484848;
    border-bottom: 1px solid #f4f4f4;
    margin: 10px;
    padding-bottom: 15px;
    cursor: pointer;
}

.headerDiv {
    background-color: dimgray;
    position: relative;
    height: 50px;
    display: table;
    width: 100%;
    text-align: left;
}

.header {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    vertical-align: middle;
    text-align: left;
    display: table-cell;
    cursor: pointer;
}

.filterButton > span {
    text-transform: none;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

.filterButton {
    height: 70px;
    float: right;
    display: table-cell;
}

.toolbar {
    display: table !important;
    background-color: white;
    height: 70px;
}

/*
Form Wizard Styles
 */

.formWizard {
    text-align: center;
}

.formWizardBody {
    background-color: #f1f1f1;
    padding: 20px;
    height: 100%;
}

.formItem {
    margin: 50px 0;
}

.paper {
    height: 140px;
    width: 100px;
    border: dashed 2px gray;
    padding-top: 20px;
}

.paper svg {
    font-size: 40px;
    display: block;
    margin: 0 auto;
}

.formMap {
    height: 300px;
}

.react-datepicker-wrapper > div > input {
    height: 50px;
    width: 300px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.react-datepicker__input-container > input {
    border-radius: 5px;
    border: 1px solid lightgray;
}

.react-datepicker__input-container > input:hover {
    border: 1px solid black;
}

.childrenAgeText {
    font-size: 14px;
    margin-bottom: 0;
    color: gray;
}

input {
    background-color: transparent;
}


/*
Footer Styles
 */

.plusButton {
    position: relative;
    top: -40px;
}

.footerIconDiv {
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    padding-bottom: 25px;
    background-color: white;
}

.footerIcons span {
    display: block;
}

.footerIcons p {
    text-transform: capitalize;
    margin: 0;
    color: gray;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
