@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.Main {
    background-color: lightgray;
    /*padding-bottom: 120px;*/
    height: 100vh;
    z-index: 99;
}

/*
Header
 */
.moreIcon > span > svg {
    color: white;
    left: 0;
    top: 0;
    height: 100%;
}

.topHeader {
    display: table-cell;
    vertical-align: middle;
    width: 10%;
}

.drawerItem h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #484848;
    border-bottom: 1px solid #f4f4f4;
    margin: 10px;
    padding-bottom: 15px;
    cursor: pointer;
}

.headerDiv {
    background-color: dimgray;
    position: relative;
    height: 70px;
    display: table;
    width: 100%;
    text-align: left;
}

.header {
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    vertical-align: middle;
    text-align: left;
    display: table-cell;
    cursor: pointer;
}

.filterButton > span {
    text-transform: none;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    color: white;
}

.filterButton {
    height: 70px;
    float: right;
}

.filterButton > span {
    margin-right: 15px;
}

.toolbar {
    display: table !important;
    background-color: white;
}

/*
Desktop Header
 */
.categories {
    display: inline-block;
    text-transform: uppercase;
    color: black;
    height: 37px !important;

}

.categories > h4 {
    margin: 10px 5px;
    font-size: 12px;
    cursor: pointer;
}

.nav {
    display: inline-block;
    float: right;
}

.appBar {
    background-color: black !important;
    display: table !important;
}

#explore {
    background-color: #8acc25;
}

#report {
    background-color: #ffd700;
}

#resources {
    background-color: #39c9bb;
}

.headerTitle {
    display: inline;
    font-size: 14px;
    color: white;
    position: absolute;
    left: 27%;
}

@media (min-width: 768px) {
    .headerTitle {
        left: 26%;
    }
}

@media (min-width: 1024px) {
    .headerTitle {
        left: 23%;
    }
}

@media (min-width: 1280px) {
    .headerTitle {
        left: 20%;
    }
}

.logo {
    height: 100px;
    width: 100px;
    background: url('assets/logo.png') no-repeat;
    background-size: contain;
    position: absolute;
    left: 12%;
    box-shadow: 1px 1px 1px grey;
}

/*
Form Wizard Styles
 */

.formWizard {
    text-align: center;
}

.formWizardBody {
    background-color: #f1f1f1;
    padding: 20px;
    height: 100%;
}

.formItem {
    margin: 50px 0;
}

.paper {
    height: 140px;
    width: 100px;
    border: dashed 2px gray;
    padding-top: 20px;
}

.paper svg {
    font-size: 40px;
    display: block;
    margin: 0 auto;
}

.formMap {
    height: 300px;
}

.react-datepicker-wrapper > div > input {
    height: 50px;
    width: 300px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.react-datepicker__input-container > input {
    border-radius: 5px;
    border: 1px solid lightgray;
}

.react-datepicker__input-container > input:hover {
    border: 1px solid black;
}

.childrenAgeText {
    font-size: 14px;
    margin-bottom: 0;
    color: gray;
}

input {
    background-color: transparent;
}

/*
List + Card
 */

.cardContainer {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.card {
    margin: 16px;
    height: 150px;
    width: 400px;
}

.cardPicture {
    height: 150px;
    width: 150px;
}

@media (min-width: 600px) {
    .card {
        width: 550px;
    }
}

@media (min-width: 768px) {

    .cardContainer {
        margin-top: 80px;
        margin-bottom: 0;
    }

    .card {
        width: 650px;
        height: 200px;
    }

    .cardPicture {
        height: 200px;
        width: 200px;
    }
}

/*
Report Viewer
 */

.reportViewer {
    overflow: hidden;
}
.reportViewerToolbar {
    background-color: white;
    position: fixed;
    z-index: 103;
    width: 100%;
}

.reportViewerToolbar > h4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.backToExplore {
    padding-left: 0 !important;
    z-index: 101;
}

.backToExplore > span {
    color: royalblue;
    text-transform: none;
    font-weight: bold;
}

.reportCard {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .reportCard {
        max-width: 800px;
        margin: 30px auto;
    }
}


/*
Footer Styles
 */

.plusButton {
    position: relative;
    top: -50px;
}

.footerIconDiv {
    border-top: 1px grey solid;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 25px 0;
    background-color: white;
    position: sticky;
    z-index: 101;

}

.footerIcons span {
    display: block;
}

.footerIcons p {
    text-transform: capitalize;
    margin: 0;
    color: gray;
}

.map {
    height: 100vh;
}

.mapboxgl-popup-wrapper{
    width: fit-content;
    height: fit-content;

}

.caption {
    font-weight: bold;
}



